<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create new post</h1>

  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('email').touched && form.get('email').invalid
    }"
  >
    <label for="title">Post name</label>
    <input id="title" type="text" formControlName="title" />
    <div
      *ngIf="form.get('title').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Insert post name
      </small>
    </div>
  </div>

  <div class="form-control">
    <label>
      Post content
    </label>
  </div>

  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('author').touched && form.get('author').invalid
    }"
  >
    <label for="author">Author post name</label>
    <input id="author" type="text" formControlName="author" />
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation"
    >
      <small *ngIf="form.get('author').errors.required">
        Insert author post
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >
    Crate post
  </button>
</form>
