.button {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #231f20;
    color: #747474;
    display: inline-block;
    padding: 0.25rem 0.5rem;
  }  
  /* nav */
  .topnav {
    background-color: whitesmoke;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 15px;
  }
  .topnav a {
    /* float: right ; */
    color:rgb(73, 73, 73);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border: none;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #ddd;
    color: black;
  }

  /* footer */

  footer {
    width: 100%;
    text-align: center;
    background-color: #231f20;
  }
  .wide {
    padding: 2rem 4rem;
    margin: auto;
    background-color: #231f20;
    border-bottom: 1px solid white;
  }
  .wide a:hover{
    color: rgb(173, 173, 173);
  }
  .footerlink {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 3rem;
    font-size: large;    
  }  
  footer .wrap {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
  }  
  footer p {
    color: rgb(179, 179, 179);
  }  
  .adress-phone {
    display: flex;
    flex-direction: column;
  }  
  footer .wrap a {
    text-decoration: none;
    color: white;
  }
  footer .wrap p {
    padding-top: 1rem;
  }  
  .subfooter {
    text-align: center;
  }
  .subfooter a {
    text-decoration: none;
    color: black;
  } 

  button {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #231f20;
    background-color: transparent;
    font-family: "Gotham A", "Gotham B", sans-serif;
    font-weight: 300;
    margin: 12px 8px;
    padding: 4px 8px;
    text-transform: uppercase;
    color: #747474;
    border: 0;
    border-bottom: solid 1px;
    cursor: pointer;
  }
  button:hover{
    color: black;
  }

  h2 {
    margin: 1rem 0;
    letter-spacing: 2px;
    font-size: 2rem;
    line-height: 120%;
    text-transform: uppercase;
    font-family: "Bodoni LT W05 Book", serif;
    color: black;
  }

  p {
    color: #747474;
    font-size: 20px;
  }
/* home background */
  .homebg{
    position: relative;
  }
  .homebg img{
    height: 71vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
  .about-us{
    background-color: white;
    outline-offset: 0.25rem;
    outline: 3px solid white;
    text-align: center;
    padding: 40px;
    top: 6.2vh;  
    max-width: 400px;
    position: absolute;
    left: 5vw;
    color: #747474;
    box-sizing: border-box;
  }
  
  .logo-about {
    margin-top: -15px;
    width: 50%;
    max-width: 150px;
    margin: auto;
  }
  .about-us-text {
    box-sizing: border-box;
    padding: 2rem 0 2rem;
  }
  .menu-page {
    display: block;
    text-align: center;
  }
  .our-menus {
    padding: 3rem 3rem;
    max-width: 800px;
    line-height: 150%;
    margin: auto;
    text-align: center;
    margin: auto;
    padding: 48px 32px;
  }
  
  .keep-in-touch-wrap {
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 3rem 2rem;
  }
  .keep-in-touch {
    position: relative;
  }
  .keep-in-touch-tittle {
    text-align: center;
    margin: 2rem 0;
  }
  .keep-in-touch-text {
    box-sizing: border-box;
    font-family: "Gotham A", "Gotham B", sans-serif;
    font-weight: 300;
    font-size: large;
  }
  .link-wrap {
    max-width: 80%;
    margin: 3rem auto 3rem; 
  }
  
  .link-wrap a {
    margin: 0 10px;
  }
  .link-wrap a:hover{
    color: black;
  }
  .bgsmall{
    height: 46vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
  
  .private-parties {
    width: 30%;
    padding: 3rem;
    background-color: white;
    outline: 3px solid white;
    outline-color: white;
    outline-offset: 0.25rem;
    max-width: 800px;
    line-height: 150%;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
  }
  .grey-callout-wrap {
    padding: 1rem 2rem;
    background-color: #f2f0f1;
    display: block;
    box-sizing: border-box;
    font-family: "Gotham A", "Gotham B", sans-serif;
    font-weight: 300;
    position: relative;
    width: 100%;
  }
  
  .img-gallery {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 75%;
    object-fit: cover;
    object-position: center;
    margin: 40px;
  }
  .callout {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    padding: 4rem 0;
    margin: 3rem auto;
    max-width: 1200px;
  }
  #deliverycaryout{
    text-align: center;
    max-width: 650px;
    padding: 1rem 0;
    margin: auto;   
  }
  #deliverycaryout p{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
  }
  .itemName {
    box-sizing: border-box;
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 400;
  }
  .itemDescription {
  flex: 100%;
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 18px;
  }
  .makeareservation {
    margin-top: 45px;
  }
  h3{
    text-transform: uppercase;
  }
  
  h1{
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  