<div class="post">
  <div class="header">
    <h1>
      Post title
    </h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>
      Author
    </strong>
    <small>09.09.2019</small>
  </div>

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa
    rerum magnam non. Qui ipsa iure vero, est nam aliquid assumenda consequatur
    voluptas veniam, cupiditate cumque ut architecto possimus porro id ducimus
    totam pariatur non sed saepe odit minima similique? Quidem cumque
    praesentium, tempora repellat vero enim corrupti voluptates voluptatibus!
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa
    rerum magnam non. Qui ipsa iure vero, est nam aliquid assumenda consequatur
    voluptas veniam, cupiditate cumque ut architecto possimus porro id ducimus
    totam pariatur non sed saepe odit minima similique? Quidem cumque
    praesentium, tempora repellat vero enim corrupti voluptates voluptatibus!
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa
    rerum magnam non. Qui ipsa iure vero, est nam aliquid assumenda consequatur
    voluptas veniam, cupiditate cumque ut architecto possimus porro id ducimus
    totam pariatur non sed saepe odit minima similique? Quidem cumque
    praesentium, tempora repellat vero enim corrupti voluptates voluptatibus!
  </div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate culpa
    rerum magnam non. Qui ipsa iure vero, est nam aliquid assumenda consequatur
    voluptas veniam, cupiditate cumque ut architecto possimus porro id ducimus
    totam pariatur non sed saepe odit minima similique? Quidem cumque
    praesentium, tempora repellat vero enim corrupti voluptates voluptatibus!
  </div>
</div>
